@model ProjectTerraformMars.ModelViews.ApplicantRole

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-8">
        <h4>@Html.DisplayNameFor(model => model.Applicant.Name) @Html.DisplayFor(model => model.Applicant.Name)</h4>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Applicant.Address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Applicant.Address)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Applicant.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Applicant.PhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Applicant.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Applicant.Email)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
        <h3>
            @Html.DisplayFor(model => model.Role.RoleName)
        </h3>
        <p>
            @Html.DisplayFor(model => model.Role.RoleDescription)
        </p>
        <p>
            @Html.DisplayFor(model => model.Role.Category)
        </p>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
